@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;800;900&display=fallback');

@import 'tailwindcss/base';
@import 'tailwindcss/components';

/* Additional styles */
@import 'additional-styles/utility-patterns.css';
@import 'additional-styles/range-slider.css';
@import 'additional-styles/toggle-switch.css';
@import 'additional-styles/theme.css';

@import 'tailwindcss/utilities';

/* Additional Tailwind directives: https://tailwindcss.com/docs/functions-and-directives/#responsive */
@layer utilities {
    .rtl {
        direction: rtl;
    }
}

/* See Alpine.js: https://github.com/alpinejs/alpine#x-cloak */
[x-cloak=""] {
    display: none;
}

.parallax-bg{
    background-position: center center;
    transform: translateZ(50px) scale(1);
    background-size: cover;

    height: auto;
  }
  .parallax-content{
    z-index: -1;
    transform: translateY(-25vh) translateZ(0px) scale(1);
    padding-left:30px;
    padding-right:30px;
    text-align:center;
  }